* {
    margin: 0;
    padding: 0
}

body {
    background-color: #fafafa;
}

li {
    list-style: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

/* IE6、7 专有 */

.header {
    height: 100px;
    background-color: #ffffff;
}

.inner {
    height: 100px;
    width: 1200px;
    margin: auto;
    line-height: 100px;
}

.logo {
    float: left;
}

.nav {
    float: right;
}

.nav li {
    float: left;
    margin: 0 20px;
}

.nav li a {
    font-size: 14px;
    font-family: "微软雅黑";
    text-decoration: none;
}

.nav li a:hover {
    color: #2288f6;
}

.banner {
    height: 620px;
    background: url("../image/banner.png") no-repeat top center;
}

.service, .media {
    width: 1054px;
    margin: 75px auto 0;
    /*background-color: skyblue;*/
}

.service-hd {
    /*background-color: #2288f6;*/
    margin: 0 25px;
    border-top: 1px solid #ccc;

}

.service-hd h3 {
    width: 165px;
    height: 45px;
    margin: -15px auto 0;
}

.service-hd p {
    font-family: 微软雅黑;
    color: #666;
    width: 830px;
    margin: 20px auto 0;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
}

.service-bd {
    margin-top: 50px;
}

.service-bd li {
    width: 316px;
    height: 503px;
    background-color: #fff;
    float: left;
    border: 1px solid #e7e8e9;
    position: relative;
}

.yingxiao {
    margin: 0 48px;
}

.service-bd img {
    margin: 46px 32px;
    width: 252px;
    height: 132px;
}

.service-bd h3 {
    height: 44px;
    font-family: "微软雅黑";
    font-weight: 400;
    color: #333333;
    text-align: center;
}

.service-bd p {
    margin: 0 9px;
    line-height: 22px;
    color: #c1c1c1;
    font-size: 11px;
    font-family: "微软雅黑";
}

.service-bd a {
    display: block;
    width: 150px;
    height: 38px;
    color: #ff9412;
    border: 1px solid #ffd199;
    /*margin: 30px auto;*/
    text-align: center;
    line-height: 38px;
    border-radius: 5px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -75px;
}

/*.service-bd div{*/
/*    margin-bottom: 20px;*/
/*}*/
.service-bd a:hover {
    background-color: #ff9412;
    color: #ffffff;
}

.case-top {
    height: 50px;
    background-color: #fff;
    margin: 105px auto 0;
}

.case {
    background-color: #fff;
    padding-bottom: 40px;
    margin: 0 auto;
}

.case-hd {
    /*background-color: #2288f6;*/
    margin: 0 197px;
    border-top: 1px solid #ccc;

}

.case-hd h3 {
    width: 168px;
    height: 62px;
    margin: -25px auto 25px;
}

.case-bd {
    width: 1054px;
    margin: 0 auto;
    position: relative;
}

.case-bd li {
    display: inline-block;
    width: 325px;
    height: 210px;
    position: relative;
}

.case-center {
    margin: 0 34px;
}

.text {
    position: absolute;
    width: 324px;
    height: 47px;
    color: #fff;
    text-align: center;
    line-height: 47px;
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
}

.mask {
    width: 100%;
    height: 100%;
    background: url("../image/fdj.png") no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.case-bd li:hover .mask {
    display: block;
}

.case-bd a {
    width: 64px;
    height: 64px;
    position: absolute;
    background: rgba(0, 0, 0, .4);
    text-decoration: none;
    top: 50%;
    margin-top: -32px;
    border-radius: 50%;
    text-align: center;
    line-height: 64px;
    font-size: 20px;
    color: #fff;
}

.case-bd .left {
    left: -90px;
}

.case-bd .right {
    right: -90px;
}

.case-bd a:hover {
    background: rgba(0, 0, 0, .7);
}

.media-bd li {
    width: 208px;
    height: 80px;
    border-right: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    float: left;
    text-align: center;
    line-height: 100px;
}

.media-bd {
    width: 1044px;
    height: 240px;
    margin-top: 40px;
    overflow: hidden;
}

.media-bd ul {
    width: 1060px;
}

.footer {
    height: 165px;
    background-color: #212425;
    overflow: hidden;
    margin-top: 100px;
}

.subnav {
    text-align: center;
    height: 64px;
    margin-top: 50px;
    color: #7e7e7e;
}
.subnav a{
    text-decoration: none;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #fff;
}
.subnav a:hover{
    color: #2288f6;
    text-decoration: underline;
}
.footer p{
    text-align: center;
    color: #7e7e7e;
    font-size: 11px;
    font-family: "微软雅黑";
}

